{% extends "layout.html" %}
{% block title %}Poista ravintola{% endblock %}
{% block content %}

{% if session.username %}


<h2>Poista ravintola</h2>
<form action="remove" method="POST">
<p>Ravintolan nimi:<br>
<select name="name">
{% for restaurant in restaurants %}
<option value="{{ restaurant[0] }}">{{ restaurant[0] }}
{% endfor %}
</select>
</p>
<input type="submit" value="Poista ravintola">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}
<p>Kirjaudu sisään, jotta voit poistaa ravintoloita.</p>
<a href="/login">Kirjautumissivulle</a>
{% endif %}
{% endblock %}
