{% extends "layout.html" %}
{% block title %}{{ restaurant }}{% endblock %}
{% block content %}

<h2>{{ restaurant }}</h2>
<hr>
<b>Ravintolan arvosana: {{ grade }}</b>
<hr>
<b>Aukioloajat:</b>
<p>
Maanantai: {{ times[1] }}
<p>
Tiistai: {{ times[2] }}
<p>
Keskiviikko: {{ times[3] }}
<p>
Torstai: {{ times[4] }}
<p>
Perjantai: {{ times[5] }}
<p>
Lauantai: {{ times[6] }}
<p>
Sunnuntai: {{ times[7] }}
<p>
<a href ="/servicetimes">Lisää aukioloajat</a>
<hr>
<b>Arvostelut:</b>
<p>
{% for review in reviews %}
Arvio: {{ review.grade }}/5
<p>
{{ review.message }}
<p>
{{ review.sent_at }}
{% endfor %}
<hr>
Ravintola kuuluu ryhmiin:
<p>
{% for group in groups %}
{{ group.groupname }}
<p>
{% endfor %}

{% endblock %}
