{% extends "layout.html" %}
{% block title %}Arvostele ravintola{% endblock %}
{% block content %}

<h2>Arvostele ravintola</h2>
<form action="/review" method="POST">
<p>Arvosteltavan ravintolan nimi:<br>
<select name="name">
{% for restaurant in restaurants %}
<option value="{{ restaurant[0] }}">{{ restaurant[0] }}
{% endfor %}
</select>
<p>Arvosana:<br>
<input type="radio" name="grade" value="1"> 1
<input type="radio" name="grade" value="2"> 2
<input type="radio" name="grade" value="3" checked> 3
<input type="radio" name="grade" value="4"> 4
<input type="radio" name="grade" value="5"> 5
<p>Kommentti:<br>
<textarea name="message" rows="3" cols="30">
</textarea>
<p>
<input type="submit" value="Lähetä arvostelu">
</form>

{% endblock %}
