{% extends "layout.html" %}
{% block title %}Tervetuloa{% endblock %}
{% block content %}

<h2>Tervetuloa sovellukseen!</h2>
<p>
<a href="/new">Lisää ravintola</a>
<p>
<a href="remove">Poista ravintola</a>
<p>
<a href="/restaurants">Selaa ravintoloita</a>
<p>
<a href="/review">Lisää arvostelu</a>
<p>
<a href="/addgroup">Lisää ravintola ryhmään</a>
<hr>
{% if session.username %}
<p>Olet kirjautunut sisään käyttäjällä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
<p>
<a href="/register">Rekisteröidy</a>
{% endif %}


{% endblock %}
